#GENERAL SECTION#
ROOT_PATH = "/path/to/your/root/directory/of/the/project/"
EXTERNAL_DOMAIN="https://yourdomain.com"

#API SECTION#
API_PORT=3000

#HTML PNG SECTION (COLORS ARE TAILWIND CLASSES)#
MONDAY_COLOR=bg-green-500
TUESDAY_COLOR=bg-blue-400
WEDNESDAY_COLOR=bg-orange-400
THURSDAY_COLOR=bg-red-700
FRIDAY_COLOR=bg-pink-600
PNG_WIDTH=1920
PNG_HEIGHT=1000

#PARSING SECTION
WIGOR_SERVER_IDS="defghijklnotuvwx"
WIGOR_BASE_URL="https://edtmobiliteng.wigorservices.net/WebPsDyn.aspx?action=posEDTBEECOME"
WIGOR_NO_COURSE_TEXT="Pas de cours cette semaine"
MONDAY_LEFT=103
TUESDAY_LEFT=122
WEDNESDAY_LEFT=141
THURSDAY_LEFT=161
FRIDAY_LEFT=180

#DISCORD WEBHOOK SECTION#
DISCORD_API_BASE_URL="https://discord.com/api/webhooks/"
DISCORD_EMBED_COLOR="0x00ff00"
DISCORD_EMBED_TITLE="Cours de la semaine"
DISCORD_IMAGE="https://i.postimg.cc/5ySzCJb0/logo-epsi.png"
