.env
node_modules/
output/htmlFiles/*
output/icsFiles/*
output/jsonFiles/*
output/oldjsonFiles/*
output/pngFiles/*
output/lockFiles/*
logs/*
output/messageIds.json
config/classes.json
config/apiKeys.json